################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Appka CV/.vs/Appka CV/v16/Server/sqlite3/db.lock
