
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <h3><a asp-controller="JobOffer" asp-action="Index">Job Offers</a></h3>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>